<h4 id="tableLabel">The entire list</h4>
<p *ngIf="!allBirthdayRecords"><em>Loading...</em></p>
<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="allBirthdayRecords">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" id="new-record" #newName placeholder="Name"/></td>
      <td><input type="date" id="new-date" #newDate /></td>
      <td><button class="btn add-btn" (click)="add(newName.value, newDate.value); newName.value=newNameValue; newDate.value=''">Add</button></td>
      <td></td><!--<td><button class="search-btn" (click)="search(newName.value); newName.value=newNameValue;">Search by name</button></td>-->
    </tr>
    <tr *ngFor="let record of allBirthdayRecords">
      <td><input id="{{'name-' + record.id}}" type="text" [(ngModel)]="record.name" [disabled]="!isEditable(record.id)" /></td>
      <td><input id="{{'date-' + record.id}}" #date type="date" [ngModel]="record.date | date: 'yyyy-MM-dd'" [disabled]="!isEditable(record.id)" /></td>
      <td *ngIf="!isEditable(record.id)"><button class="btn edit-btn" (click)="edit(record)">Edit</button></td>
      <td *ngIf="isEditable(record.id)"><button class="btn save-btn" (click)="record.date = date.value; save(record)">Save</button></td>
      <td><button class="btn delete-btn" (click)="delete(record)" [disabled]="!isEditable(record.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<app-messages></app-messages>
